/* FOOTER -- CSS */
/* ============================== */

footer {
    align-items: center;
    background-color: #32283c;
    border-top: 2px solid blueviolet;
    display: flex;
    flex-direction: column;
    height: 175px;
    justify-content: space-around;
    width: 100%;
}

.header-credit > a {
    color: white;
    text-decoration: none;
}

.header-credit > a:hover {
    color: #C4003F 
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 222px;

}

.icon {
    height: 64px;
    width: 64px
}

.watch-mf-link > a {
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.watch-mf-link > a:hover {
    color: #C4003F
}

#mail {
    background-image: url("../images/mail-small-icon.png")
}

#mail:hover {
    background-image: url("../images/mail-small-icon-hover.png")
}

#linkedin {
    background-image: url("../images/linkedin-small-icon.png")
}

#linkedin:hover {
    background-image: url("../images/linkedin-small-icon-hover.png")
}

#github {
    background-image: url("../images/github-small-icon.png")
}

#github:hover {
    background-image: url("../images/github-small-icon-hover.png")
}

@media (min-width: 1028px) {
    footer {
        flex-direction: row;
    }

    .icon-container {
        width: 430px;
    }

    .icon {
        height: 128px;
        width: 128px;
    }

    .watch-mf-link {
        width: 310px;
    }

    .watch-mf-link > a {
        font-size: 2.5em;
    }

    #mail {
        background-image: url("../images/mail-big-icon.png")
    }
    
    #mail:hover {
        background-image: url("../images/mail-big-icon-hover.png")
    }

    #linkedin {
        background-image: url("../images/linkedin-big-icon.png")
    }
    
    #linkedin:hover {
        background-image: url("../images/linkedin-big-icon-hover.png")
    }

    #github {
        background-image: url("../images/github-big-icon.png")
    }
   
    #github:hover {
        background-image: url("../images/github-big-icon-hover.png")
    }
}

