/* VIDEO PAGE -- CSS */
/* ============================== */

iframe {
    height: 180px;
    width: 320px;
}

.four-oh-four {
    font-size: 3em;
}

.four-oh-four > a {
    color: red;
    text-decoration: none;
}

.video-page {
    padding-top: 30px;
    padding-bottom: 40px;
}

.video-page-counter {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 150px;
}

.video-page-counter > button {
    color: white;
    background-color: #C4003F;
    font-size: 1.3em;
    height: 35px;
    width: 35px
}

#video-page-forward-only {
    justify-content: flex-end;
}

.video-page-sliders {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
}

.video-page-sliders > button {
    color: white;
    background-color: #C4003F;
    font-size: 1.5em;
    width: 100px;
}

.video-page-sliders > button:hover{
    background-color: #e43459;
    cursor: pointer;
}

@media (min-width: 700px) {
    iframe {
        height: 325px;
        width: 560px;
    }

    .video-page-sliders {
        width: 560px
    }
}